# Компилированные файлы
*.class
*.dex
*.apk
*.ap_
*.aab
*.o
*.so
*.jar
*.war
*.ear


.idea/
*.iml
*.iws


/log
/logs
*.log


/build/
*/build/
*/out/


.gradle/
build/

test/
*/test/
*.bin

.cxx/
.cxx/cmake/


local.properties

.gradle/
.idea/
.DS_Store

*.swp
*.lock
*.tmp
*.temp
*.orig
*.bak
*.bk
*.old
*.save
*.sublime-project
*.sublime-workspace
*.swm

*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
